@media screen and (max-width: 1060px) {}
    /**{
        margin: 0%;
        padding: 0%;
    }

    .secciones {
        /*display:block;
        float:left;
        padding:0 10px;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }


    .contenedor-2{
       
        display:flex;
        flex-direction:column;} 
        */


        .secciones {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .secciones-2 {
            display: block;
            width: 60px;
            background-color: #dddddd;
        }