

  
  @media screen and (max-width: 830px) {
    .contenedor-2{
      /*width: 30em;
      height: 15em;*/
      display: block;
    }
  
      .probando{
        display: flex;
      }
      .probando-2{
        display: flex;
        flex-direction:column;
      }
  
      .contenedor-grande-3{
        display: block;
      }
  
      .cont-grande{
        display: block;
      }   
  
  }
  
  
  
  
  @media screen and (max-width: 580px){
    
  
    .grande{
      display: flex ;
      
    }
  
  
  
    .contenedor-2{
      display:block;
    
    }
  }
  
  
  @media screen and (max-width: 590px){
    .probando-2{
      margin-top: 15em; 
    }
  
  }




  @media screen and (max-width: 670px){
    .texto.video {
      max-width: 100%;
    }
  }