@import '../../base/listas';

.cont-grande{
    display: grid;
    grid-template-areas: "centro-1 centro-1 parte-derecha"
                          "centro-2 centro-2 parte-derecha"
                          "footer footer parte-derecha";
    grid-template-columns: 1fr 1fr 1fr;     
    grid-column-gap: 5px;                
}

.centro-1{
    grid-area: centro-1;
    text-align: justify;
    margin: 10%;
      
}
.centro-2{
    grid-area: centro-2;
    text-align: justify;
    margin: 10%;
}
.parte-derecha:hover{
    grid-area: parte-derecha;
    text-align: justify;
    text-decoration: underline;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: none;
    transition:2s linear;
}

.tarot{
    max-width: 100%;
    max-height: 100%;
    border:1px solid nth($colores, 4);
}