
@import '../base/listas';
@import '../base/mixins';

.home {
    background-color: nth($colores, 1); 
    
}


.bg-dark{
    background-color: nth($colores, 4)!important;
  }
  
  .navbar-light .navbar-toggler {
    color: nth($colores, 5) !important;
    border-color: nth($colores, 4)!important;
    
  }
  .title{
    margin: 100px;
  }
