
@import 'listas';
@import '../base/mixins';

.home {
    background-color: nth($colores, 1); 
}


.bg-dark{
    background-color:black !important;
  }
  
  .navbar-light .navbar-toggler {
    color: white !important;
    border-color: rgba(0,0,0,.1) !important;
    
  }
  .title{
    margin: 100px;
  }
