@import '../../base/listas';


.prueba{
    font-weight: 100;
    margin: 50px;
    font-size: x-large;
}
.sub-mayor {
   
    text-align: center;
    color: nth($colores, 4);
    font-family: 'Times New Roman', Times, serif
}
.caja-grande{
    text-align: right;
    color: nth($colores, 4);
    font-family: 'Times New Roman', Times, serif;
}
.caja-mediana{
    color: nth($colores, 4);
    font-family: 'Times New Roman', Times, serif;
    margin: 30px;
}
.segundo-sub{
    text-align: left;
    color: nth($colores, 4);
    font-family: 'Times New Roman', Times, serif;
    text-decoration-line: underline;
}


.contiene-todo{
    display: grid;
    grid-template-areas: "boton-1 ......................."
                        "boton-1 ........................"
                        "boton-1 ......................."
                        "boton-1 .......................";
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-column-gap: 100px;
    
}

.lista{
    text-align: left;  
    color: nth($colores, 4);
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    
}


.boton-1{
    text-decoration: none;
    border-width: initial;
    padding-bottom: 10px;
    margin: 30px;
    color: nth($colores, 4);  
    grid-area: boton-1;
    border: 3px solid nth($colores, 3 );
    background-color: nth($colores, 5);
    border-top-left-radius: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;
    

}


.intento{
    width: 20px;
    margin: 10%;
    padding: auto;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    height: 50px;
    grid-column-gap: 40px; 
}